[Desktop Entry]
Name=Lynx
Name[pl]=Lynx
GenericName=WWW browser
GenericName[pl]=Przeglądarka WWW
Comment=Lynx - text based WWW browser
Comment[es]=Lector WWW modo texto
Comment[pl]=Lynx - tekstowa przeglądarka WWW
Comment[pt]=Lector WWW modo texto
Comment[pt_BR]=Lector WWW modo texto
Icon=lynx
Exec=lynx
Terminal=true
Categories=ConsoleOnly;Network;WebBrowser;
Type=Application
# vi: encoding=utf-8
